workerPoolSpecs:
  - machineSpec:
      machineType: n1-standard-4
      acceleratorType: NVIDIA_TESLA_T4
      acceleratorCount: 1
    replicaCount: 1
    containerSpec:
      imageUri: us-central1-docker.pkg.dev/msml640/vertex-ai/yolo11-rubiks-cube:latest
      command:
        - /bin/bash
        - -c
        - |
          # Download training script from GCS
          gsutil cp gs://msml640-dataset/scripts/train_yolo_vertex.py /tmp/train_yolo_vertex.py
          
          python /tmp/train_yolo_vertex.py \
            --data "gs://msml640-dataset/datasets/dataset/data.yaml" \
            --epochs 50 \
            --batch 32
            
      env:
        - name: AIP_MODEL_DIR
          value: gs://msml640-dataset/models
scheduling:
  strategy: SPOT